.navbar {
    background-color: #007bff;
  }
  .navbar-brand, .nav-link {
    color: #ffff !important; 
  }
  .navbar-nav {
    margin-left: auto;
    margin-right: auto;
  }
  .texnav{
     padding: 0 10px;
  }

.card {
    border-radius: 50px;
    width: 1400px;
    left: 300px;
    height: 800px;
    padding: 150px;
    margin-left: 200px;
    margin-right: 200px;
  }

img.image {
    width: 1000px;
    height: 700px;
    padding: 50px;
    margin-left: 300px;
    margin-right: 0cap;

}

button{
    cursor: pointer;
}